/* src/pages/CoursesPage/CoursesPage.module.css */

.page {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  background: #FAFAFA;
  margin: 0 auto;
  padding: 0 140px;
  box-sizing: border-box;
}

.content {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 0 60px;
}

.subtitle {
  font-size: 18px;
  color: #000;
  opacity: 0.5;
  margin: 0;
}

.title {
  font-size: 60px;
  font-weight: 500;
  line-height: 100%;
  color: #000;
  margin: 0;
}

.greenBlock {
  width: 288px;
  height: 120px;
  object-fit: contain;
}

.coursesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
}

/* Адаптив для мобильных устройств 375px */
@media (max-width: 480px) {
  .page {
    padding: 0 16px;
  }

  .subtitle {
    display: none;
  }

  .title {
    font-size: 32px;
    line-height: 110%;
    
  }

  .greenBlock {
    display: none;
  }

  .coursesGrid {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }

  .content {
    gap: 24px;
    padding: 12px 0 40px;
  }


}